HOApplication/HealthFinalMar2011NMI/HealthOffice/App_WebReferences/CsoCheckPrsService/CsoCheckPrs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns2="http://Elements.cso.citc" xmlns:intf="http://cso.citc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://cso.citc" targetNamespace="http://cso.citc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://cso.citc">
      <xsd:import namespace="http://Elements.cso.citc" />
      <xsd:element name="csogetPersonDetByapfn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="apfn" nillable="true" type="xsd:string" />
            <xsd:element name="organizationID" nillable="true" type="xsd:string" />
            <xsd:element name="orgIpAddres" nillable="true" type="xsd:string" />
            <xsd:element name="prkey" nillable="true" type="xsd:string" />
            <xsd:element name="stype" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="csogetPersonDetByapfnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="csogetPersonDetByapfnReturn" nillable="true" type="tns2:CSOOutput" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="csogetPersonDetByIdnum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idNum" nillable="true" type="xsd:string" />
            <xsd:element name="organizationID" nillable="true" type="xsd:string" />
            <xsd:element name="orgIpAddres" nillable="true" type="xsd:string" />
            <xsd:element name="prkey" nillable="true" type="xsd:string" />
            <xsd:element name="stype" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="csogetPersonDetByIdnumResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="csogetPersonDetByIdnumReturn" nillable="true" type="tns2:CSOOutput" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="csogetPersonDetByFcn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fcn" nillable="true" type="xsd:string" />
            <xsd:element name="organizationID" nillable="true" type="xsd:string" />
            <xsd:element name="orgIpAddres" nillable="true" type="xsd:string" />
            <xsd:element name="prkey" nillable="true" type="xsd:string" />
            <xsd:element name="stype" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="csogetPersonDetByFcnResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="csogetPersonDetByFcnReturn" nillable="true" type="tns2:CSOOutput" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://Elements.cso.citc">
      <xsd:complexType name="CSOOutput">
        <xsd:sequence>
          <xsd:element name="dateofBirth" nillable="true" type="xsd:string" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorDesc" nillable="true" type="xsd:string" />
          <xsd:element name="fcn" nillable="true" type="xsd:string" />
          <xsd:element name="firstName" nillable="true" type="xsd:string" />
          <xsd:element name="gender" nillable="true" type="xsd:string" />
          <xsd:element name="governofBirth" nillable="true" type="xsd:string" />
          <xsd:element name="lastNames" nillable="true" type="xsd:string" />
          <xsd:element name="nationalNumber" nillable="true" type="xsd:string" />
          <xsd:element name="pdd" nillable="true" type="xsd:string" />
          <xsd:element name="policeStatinofBirth" nillable="true" type="xsd:string" />
          <xsd:element name="stat" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="csogetPersonDetByIdnumResponse">
    <wsdl:part name="parameters" element="impl:csogetPersonDetByIdnumResponse" />
  </wsdl:message>
  <wsdl:message name="csogetPersonDetByFcnResponse">
    <wsdl:part name="parameters" element="impl:csogetPersonDetByFcnResponse" />
  </wsdl:message>
  <wsdl:message name="csogetPersonDetByIdnumRequest">
    <wsdl:part name="parameters" element="impl:csogetPersonDetByIdnum" />
  </wsdl:message>
  <wsdl:message name="csogetPersonDetByapfnRequest">
    <wsdl:part name="parameters" element="impl:csogetPersonDetByapfn" />
  </wsdl:message>
  <wsdl:message name="csogetPersonDetByFcnRequest">
    <wsdl:part name="parameters" element="impl:csogetPersonDetByFcn" />
  </wsdl:message>
  <wsdl:message name="csogetPersonDetByapfnResponse">
    <wsdl:part name="parameters" element="impl:csogetPersonDetByapfnResponse" />
  </wsdl:message>
  <wsdl:portType name="CsoCheckPrs">
    <wsdl:operation name="csogetPersonDetByapfn">
      <wsdl:input name="csogetPersonDetByapfnRequest" message="impl:csogetPersonDetByapfnRequest" />
      <wsdl:output name="csogetPersonDetByapfnResponse" message="impl:csogetPersonDetByapfnResponse" />
    </wsdl:operation>
    <wsdl:operation name="csogetPersonDetByIdnum">
      <wsdl:input name="csogetPersonDetByIdnumRequest" message="impl:csogetPersonDetByIdnumRequest" />
      <wsdl:output name="csogetPersonDetByIdnumResponse" message="impl:csogetPersonDetByIdnumResponse" />
    </wsdl:operation>
    <wsdl:operation name="csogetPersonDetByFcn">
      <wsdl:input name="csogetPersonDetByFcnRequest" message="impl:csogetPersonDetByFcnRequest" />
      <wsdl:output name="csogetPersonDetByFcnResponse" message="impl:csogetPersonDetByFcnResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CsoCheckPrsSoapBinding" type="impl:CsoCheckPrs">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="csogetPersonDetByapfn">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="csogetPersonDetByapfnRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="csogetPersonDetByapfnResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="csogetPersonDetByIdnum">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="csogetPersonDetByIdnumRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="csogetPersonDetByIdnumResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="csogetPersonDetByFcn">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="csogetPersonDetByFcnRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="csogetPersonDetByFcnResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>