HOApplication/HealthFinalMar2011NMI/HealthOffice/App_WebReferences/PersonalProfileService/PersonProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.cso.gov.eg/Services/PersonalProfileService/V1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="http://www.cso.gov.eg/Services/PersonalProfileService/V1/Definitions" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://www.cso.gov.eg/Services/PersonalProfileService/V1/Types" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://www.g2g.msad.gov.eg/G2GModel/V1/G2GHeader" targetNamespace="http://www.cso.gov.eg/Services/PersonalProfileService/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cso.gov.eg/Services/PersonalProfileService/V1/Definitions">
      <s:import namespace="http://www.cso.gov.eg/Services/PersonalProfileService/V1/Types" />
      <s:element name="getPersonProfileByApfn" type="s1:PersonProfileApfn" />
      <s:element name="getPersonProfileByApfnResponse" type="s1:PersonProfile" />
      <s:element name="getPersonProfileById" type="s1:PersonProfileId" />
      <s:element name="getPersonProfileByIdResponse" type="s1:PersonProfile" />
      <s:element name="getPersonProfileByFcn" type="s1:PersonProfileFcn" />
      <s:element name="getPersonProfileByFcnResponse" type="s1:PersonProfile" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cso.gov.eg/Services/PersonalProfileService/V1/Types">
      <s:complexType name="PersonProfileApfn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="apfn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="organizationID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="orgIpAddres" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="prkey" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="stype" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonProfile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="dateOfBirth" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="fcn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="firstName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="gender" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="governOfBirth" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="lastNames" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="nationalNumber" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="pdd" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="policeStatinofBirth" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="stat" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonProfileId">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="idNum" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="organizationID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="orgIpAddres" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="prkey" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="stype" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PersonProfileFcn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="fcn" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="organizationID" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="orgIpAddres" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="prkey" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="stype" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.g2g.msad.gov.eg/G2GModel/V1/G2GHeader">
      <s:element name="G2GHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Entity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Agency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Office" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Employee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Citizen" type="s:string" />
          </s:sequence>
          <s:anyAttribute />
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPersonProfileByApfnSoapIn">
    <wsdl:part name="getPersonProfileByApfn1" element="s0:getPersonProfileByApfn" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByApfnSoapOut">
    <wsdl:part name="getPersonProfileByApfnResult" element="s0:getPersonProfileByApfnResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByApfnG2GHeader">
    <wsdl:part name="G2GHeader" element="s2:G2GHeader" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByIdSoapIn">
    <wsdl:part name="getPersonProfileById1" element="s0:getPersonProfileById" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByIdSoapOut">
    <wsdl:part name="getPersonProfileByIdResult" element="s0:getPersonProfileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByIdG2GHeader">
    <wsdl:part name="G2GHeader" element="s2:G2GHeader" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByFcnSoapIn">
    <wsdl:part name="getPersonProfileByFcn1" element="s0:getPersonProfileByFcn" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByFcnSoapOut">
    <wsdl:part name="getPersonProfileByFcnResult" element="s0:getPersonProfileByFcnResponse" />
  </wsdl:message>
  <wsdl:message name="getPersonProfileByFcnG2GHeader">
    <wsdl:part name="G2GHeader" element="s2:G2GHeader" />
  </wsdl:message>
  <wsdl:portType name="PersonalProfileServiceImplSoap">
    <wsdl:operation name="getPersonProfileByApfn">
      <wsdl:input message="tns:getPersonProfileByApfnSoapIn" />
      <wsdl:output message="tns:getPersonProfileByApfnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPersonProfileById">
      <wsdl:input message="tns:getPersonProfileByIdSoapIn" />
      <wsdl:output message="tns:getPersonProfileByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPersonProfileByFcn">
      <wsdl:input message="tns:getPersonProfileByFcnSoapIn" />
      <wsdl:output message="tns:getPersonProfileByFcnSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonalProfileServiceImplSoap" type="tns:PersonalProfileServiceImplSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPersonProfileByApfn">
      <soap:operation soapAction="http://www.cso.gov.eg/Services/PersonalProfileService/V1/getPersonProfileByApfn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getPersonProfileByApfnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:getPersonProfileByApfnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonProfileById">
      <soap:operation soapAction="http://www.cso.gov.eg/Services/PersonalProfileService/V1/getPersonProfileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getPersonProfileByIdG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:getPersonProfileByIdG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonProfileByFcn">
      <soap:operation soapAction="http://www.cso.gov.eg/Services/PersonalProfileService/V1/getPersonProfileByFcn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getPersonProfileByFcnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:getPersonProfileByFcnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PersonalProfileServiceImplSoap12" type="tns:PersonalProfileServiceImplSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPersonProfileByApfn">
      <soap12:operation soapAction="http://www.cso.gov.eg/Services/PersonalProfileService/V1/getPersonProfileByApfn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPersonProfileByApfnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPersonProfileByApfnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonProfileById">
      <soap12:operation soapAction="http://www.cso.gov.eg/Services/PersonalProfileService/V1/getPersonProfileById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPersonProfileByIdG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPersonProfileByIdG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonProfileByFcn">
      <soap12:operation soapAction="http://www.cso.gov.eg/Services/PersonalProfileService/V1/getPersonProfileByFcn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPersonProfileByFcnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPersonProfileByFcnG2GHeader" part="G2GHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonalProfileServiceImpl">
    <wsdl:port name="PersonalProfileServiceImplSoap" binding="tns:PersonalProfileServiceImplSoap">
      <soap:address location="http://localhost/PersonalProfileService/PersonProfileService.asmx" />
    </wsdl:port>
    <wsdl:port name="PersonalProfileServiceImplSoap12" binding="tns:PersonalProfileServiceImplSoap12">
      <soap12:address location="http://localhost/PersonalProfileService/PersonProfileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>